body {
    background-image: url(images/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: Arial, sans-serif;
    font-weight: normal;
    position: relative;
    margin: 0;
    padding: 10%;
    font-family: "Lato", Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;
}

.box-questions {
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 51, 253, 0.4);
    width: 400px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.3);

}

.header {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 20px;
}

.question-container,
.response-container {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

textarea {
    color: white;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border: 1px solid white;
    border-radius: 4px;
    resize: vertical;
    background-color: transparent;
}
textarea:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
textarea:link {
    border-color: transparent;
    border-color: white;
}

.btn-submit {
    background-color: transparent;
    color: #fff;
    border: 1px solid;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-items: center;
    width: 100%;

}

.btn-submit:hover {
    background-color: white;
    color: black;
}

.response-container p {
    margin: 0;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
hr {
    opacity: 30%;
}